body{
	
}


#logo_left{
	margin-bottom: 20px;
	/*float:left;*/

}

#logo_right{
	float:right;
}

#main{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	max-width: 960px;
}
.nav-tabs > li > a {
  padding: 10px 15px;
}

#message{
	width: 100%;
	height: 100%;
}

nav ul ul {
	display: none;
  border-bottom: 1px;
  border: 1px solid black;
}

.nav-tabs > li > a {
  color: #555;
}


#inner_container{
	background-color: #DDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navbar-default{
	background-color:white;
	border-style:none;
}

.navbar-header{
	max-height: 50px;
}

.map_glyph{
  text-align: center;
}

.map_glyph > a {
  text-decoration: none;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
  .special{
    width:33.3% !important;
  }
  .special2{
    width:60%;
    height:100%;
  }
  #iframe_map{
    height: 350px;
    width: 1110px;    
  }  
  .navbar-default {
    width: 1170px;
  }
  .gallerie {
    width: 777px;
    margin-left:12%;
  }
  .navbar-nav{
    display: none;
    visibility: hidden !important;
  }
	nav ul li:hover > ul {
		display: block;
	}
  #xs-visible,
  #logo_xs,
  #produkt_titel_m{
    display:none;
    visibility:hidden;
  }
  #xs-hidden{
    display: table;
  }
  #xs-hidden1,
  #produkt_titel{
    display:inline-block;
  }
   #xs-hidden2{
    display:inline-block;
  }
   #xs-hidden3{
    display:inline-block;
  }
   #xs-hidden4{
    display: inline-block;
  }      
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .special{
    width:33.3% !important;
  }
  .special2{
    width:60%;
    height:100%;
  }  
  #iframe_map{
  height: 350px;
  width: 910px;    
  } 
  .navbar-default {
    width: 970px;
  }
  .gallerie {
    width: 677px;
    margin-left:9%;
  }
  .navbar-nav{
    display: none;
    visibility: hidden !important;
  }
	nav ul li:hover > ul {
		display: block;
	}
  #xs-visible{
    display:none;
    visibility:hidden;
  }
  #xs-hidden{
    display: table;
  }  
  #xs-hidden1,
  #produkt_titel{
    display:inline-block;
  }
   #xs-hidden2{
    display:inline-block;
  }
   #xs-hidden3{
    display:inline-block;
  }
   #xs-hidden4,
   #logo_xs,
   #produkt_titel_m{
    display: none;
    visibility: hidden;
  }       
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .special{
    width:50% !important;
  }
  .special2{
    width:70%;
    height:100%;
  }
  #xs-visible,
  #produkt_titel{
    display:block;
  }
  #xs-hidden1{
    display:inline-block;
  }
   #xs-hidden2{
    display:inline-block;
  }
   #xs-hidden3,
   #xs-hidden{
    display: none;
    visibility: hidden;
  }
   #xs-hidden4{
    display: none;
    visibility: hidden;
  }      
  #iframe_map{
  height: 350px;
  width: 690px;    
  }   
  .navbar-default {
    width: 750px;
  }
  .gallerie {
    width: 477px;
    margin-left:10%;
  }
  .navbar-nav,
  #logo_xs,
  #produkt_titel_m{
  	display: none;
    visibility: hidden !important;
  }
	nav ul li:hover > ul {
		display: inline-block;
	}     

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  #iframe_map{
  height: 350px;
  width: 100%;    
  } 

  .navbar-default:before,
  .navbar-default:after {
    display: table;
  	content: " ";

  }
  #xs-visible,
  #produkt_titel_m{
    display: block;
  }  
  #xs-hidden1{
    display:inline-block;
  }
   #xs-hidden2{
    display:inline-block;
  }
   #xs-hidden3,
   #xs-hidden,
   #produkt_titel{
    display: none;
    visibility: hidden;
  }
   #xs-hidden4,
   #logo_xs{
    display: none;
    visibility: hidden;
  }  
  .navbar-default, .navbar-header {
    margin-right: auto;
  	margin-left: auto;
  	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;	
  }
  .navbar-toggle {
	width:100%;
	background-color: rgb(221, 221, 221);
  }
  .pnav {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight:bold;
  font-style: bolder;
  color: rgb(51, 51, 51);
  }  	
 
  .masthead {
  	position:relative;
  }
  
  .nav-justified{
    display: none;
    visibility: hidden !important;
  } 
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  #iframe_map{
  height: 350px;
  width: 100%;    
  }   
  .navbar-default:before,
  .navbar-default:after {
    display: table;
  	content: " ";
  }
  .col-lg-4>h3 {
    font-size: 19px;
  }
  #xs-visible,
  #logo_xs,
  #produkt_titel_m{
    display: block;
    visibility:visible;
  }  

  #xs-hidden1{
    display:inline-block;
    width: 100%;
    height: 100%;
  }
   #xs-hidden2,
   #produkt_titel{
    display: none;
    visibility: hidden;
  }
   #xs-hidden3,
   #xs-hidden{
    display: none;
    visibility: hidden;
  }
   #xs-hidden4{
    display: none;
    visibility: hidden;
  }
  .navbar-default, .navbar-header {
  margin-right: auto;
	margin-left: auto;
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;	
  }
  .navbar-toggle {
	width:100%;
  background-color: rgb(221, 221, 221);
  }

  .pnav,
  .kontakt {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif bold;
  font-size: 20px;
  font-weight:bold;
  font-style: bolder;
  color: rgb(51, 51, 51);
  }
  .masthead {
  	position:relative;
  }  
  .nav-justified{
    display: none;
    visibility: hidden !important;
  }	    
}

.blueimp-gallery-carousel{
	background-color: rgb(51, 51, 51);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.footer{
	clear:both;
	font-size: 0.75em;
	padding-top: -10px;
	margin-bottom: 10px;
}
#kontakt{
	font-size: 1.3em;
}

#boss{
	width: 300px;
	border-radius: 5px;
	float: left;
}

.about_container{
	margin: 30px 10px 10px 30px;

}

.panel-default > .panel-heading{
	
}

.panel{
	box-shadow: 5px 5px 3px #C0C0C0;
	border-radius: 10px;
}