body{
	
}


#logo_left{
	margin-bottom: 20px;
	/*float:left;*/

}

#logo_right{
	float:right;
}

#main{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	max-width: 960px;
}

#message{
	width: 600px;
	height:150px;
}

nav ul ul {
	display: none;
}


#inner_container{
	background-color: #DDD;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.navbar-default{
	background-color:white;
	border-style:none;
}

.navbar-header{
	max-height: 50px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .navbar-default {
    width: 1170px;
  }
  .gallerie {
    width: 777px;
    margin-left:12%;
  }
  .navbar-nav{
  	display: none;
  }
	nav ul li:hover > ul {
		display: block;
	}      
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default {
    width: 970px;
  }
  .gallerie {
    width: 577px;
    margin-left:12%;
  }
  .navbar-nav{
  	display: none;
  }
	nav ul li:hover > ul {
		display: block;
	}      
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default {
    width: 750px;
  }
  .gallerie {
    width: 400px;
    margin-left:12%;
  }
  .navbar-nav{
  	display: none;
  }
	nav ul li:hover > ul {
		display: block;
	}     

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .navbar-default:before,
  .navbar-default:after {
    display: table;
  	content: " ";

  }
  .navbar-default, .navbar-header {
  	margin-right: auto;
	margin-left: auto;
	-webkit-box-sizing: content-box;
   	-moz-box-sizing: content-box;
    box-sizing: content-box;	
  }
  .navbar-toggle {
	width:100%;
	background-color: rgb(221, 221, 221);;
  }	
  .gallerie {
    width: 300px;
    margin-left:12%;
  }
  .masthead {
  	position:relative;
  }
  #logo_right{
  	display:none;
  }
  .nav-justified{
  	display:none;
  } 
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .navbar-default:before,
  .navbar-default:after {
    display: table;
  	content: " ";

  }
  .navbar-default, .navbar-header {
  	margin-right: auto;
	margin-left: auto;
	-webkit-box-sizing: content-box;
   	-moz-box-sizing: content-box;
    box-sizing: content-box;	
  }
  .navbar-toggle {
	width:100%;
  }

  .gallerie {
    width: 200px;
    margin-left:12%;
  }
  .masthead {
  	position:relative;
  }
  #logo_right{
  	display:none;
  }  
  .nav-justified{
  	display:none;
  }	    
}

.blueimp-gallery-carousel{
	background-color: rgb(51, 51, 51);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.footer{
	clear:both;
	font-size: 0.75em;
	padding-top: -10px;
	margin-bottom: 10px;
}
#kontakt{
	font-size: 1.3em;
}

#boss{
	width: 300px;
	border-radius: 5px;
	float: left;
}

.about_container{
	margin: 30px 10px 10px 30px;

}

.panel-default > .panel-heading{
	
}

.panel{
	box-shadow: 5px 5px 3px #C0C0C0;
	border-radius: 10px;
}